/*
Clearfix
*/
.group:before, .group:after{
	content: "";
	display: table;
}
.group:after{
	clear:both;
}
.group{
	clear:both;
	*zoom: 1;
}

/*
Primary Header
*/
.logo {
	border-top: 4px solid #3A90DB;
	padding: 40px 0 22px 0;
	float:middle;
	font-size: 48px;
	line-height: 44px;
}

/*
Primary Footer
*/
.primary-footer {
	padding-bottom: 44px;
	padding-top: 44px;
	font-size: 12px;
	color: #fff
}

/*
Grid
*/
.col-1-3 {
	width: 33.33%;
}
.col-2-3{
	width: 66.66%;
}
.col-1-2{
	width: 50%;
}
.col-1-5{
	width: 20%;
}
.col-3-5{
	width: 55%;
}
.col-1-5, .col-3-5{
	padding-top: 30px;
	text-align: center;
}
.col-1-3, .col-2-3, .col-1-2, .col-1-5, .col-3-5{
	display: inline-block;
	vertical-align: top;
	min-width: 350px;
}
.grid, .col-1-3, .col-2-3, .col-1-2, .col-1-5, .col-3-5{
	padding-left:15px;
	padding-right:15px;
	min-height: 400px;
}
.container, .grid {
  margin: 0 auto;
  min-width: 800px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
typography
*/
h1, h2, h3, h4 {
}
h1 {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 24px;
}
body {
	font: 300 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #233141; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #233141 0%, #233141 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #233141 0%,#233141 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #233141 0%,#233141 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233141', endColorstr='#233141',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
strong {
  font-weight: 600;
}
cite, em {
  font-style: italic;
}
.row,
.row-alt{
	min-width: 960px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.row {
	min-width: 800px;
	box-shadow: 0px 0px 10px 0px #000;
	padding-bottom: 10px;
}
.row-alt {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	min-width: 800px;
	max-width: 60%;
	box-shadow: 0px 0px 10px 0px #000;
	padding-bottom: 10px;
	margin:auto;
 }
.scroll{
	border-style: solid;
	border-width: thin;
	overflow: auto;
	min-height: 200px;
	max-height:550px;
}
.list-row {
	border-bottom-style: solid;
	border-bottom-width: thin;
}
.tracks{
	list-style-type:none;
	text-align:left;
	font-size:11;
}

